<mat-card>
  <mat-card-header>
    <mat-card-title>Diario</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table [dataSource]="dataSource" aria-label="Elements" class="full-width-table" mat-table matSort>
      <!-- Fecha Column -->
      <ng-container matColumnDef="fecha">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Fecha</th>
        <td *matCellDef="let row" mat-cell>{{ row.fecha | date }}</td>
      </ng-container>

      <!-- Cuentas Column -->
      <ng-container matColumnDef="cuenta">
        <th *matHeaderCellDef mat-header-cell>Cuentas</th>
        <td *matCellDef="let row" mat-cell>{{row.cuenta}}</td>
      </ng-container>

      <!-- Referencia Column -->
      <ng-container matColumnDef="ref">
        <th *matHeaderCellDef mat-header-cell> Ref. trasp.</th>
        <td *matCellDef="let row" mat-cell>{{row.ref}}</td>
      </ng-container>

      <!-- Descripcion Column -->
      <ng-container matColumnDef="descripcion">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Descripcion</th>
        <td *matCellDef="let row" mat-cell>{{row.descripcion}}</td>
      </ng-container>

      <!-- Debe Column -->
      <ng-container matColumnDef="debe">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Debe(cargo)</th>
        <td *matCellDef="let row" mat-cell>{{ row.debe == 0 ? "" : row.debe | currency}}</td>
      </ng-container>

      <!-- Haber Column -->
      <ng-container matColumnDef="haber">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Haber(abono)</th>
        <td *matCellDef="let row" mat-cell><p>{{row.haber == 0 ? "" : row.haber | currency}}</td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[20]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
