<mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="warn"></mat-progress-bar>
<mat-tab-group>

  <mat-tab label="Activos">
    <div class="T">
      <app-activos [activos]="cuentasActivos" [displayedColumns]="displayedColumns" [transacciones]="transacciones"
        (sourceEvento)="transacciones = changeDataSource($event)">
      </app-activos>
    </div>
  </mat-tab>


  <mat-tab label="Pasivos">
    <div class="T">
      <app-pasivos [pasivos]="cuentasPasivos" [displayedColumns]="displayedColumns"
        (changeDataSource)="changeDataSource($event)" (saldo)="saldo($event)">
      </app-pasivos>
    </div>
  </mat-tab>


  <mat-tab label="Capital Contable del Propietario">
    <div class="T">
      <app-capital [capital]="cuentasCapital" [displayedColumns]="displayedColumns"
        (changeDataSource)="changeDataSource($event)" (saldo)="saldo($event)">
      </app-capital>
    </div>
  </mat-tab>


  <mat-tab label="Ingresos">
    <div class="T">
      <app-ingresos [ingresos]="cuentasIngresos" [displayedColumns]="displayedColumns"
        (changeDataSource)="changeDataSource($event)" (saldo)="saldo($event)">
      </app-ingresos>
    </div>
  </mat-tab>


  <mat-tab label="Gastos">
    <div class="T">
      <app-gastos [gastos]="cuentasGastos" [displayedColumns]="displayedColumns"
        (changeDataSource)="changeDataSource($event)" (saldo)="saldo($event)">
      </app-gastos>
    </div>
  </mat-tab>

</mat-tab-group>