mat-sidenav {
 min-width: 20%;
}

.mat-toolbar {
  background: linear-gradient(180deg, rgba(10, 1, 10, 0.7), rgba(0, 0, 0, 0.0));
}

.mat-list-item:hover {
  background: linear-gradient(45deg, crimson, blue) !important;
}

.sidenav-container {
  height: 100%;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
